@font-face {
    font-family: 'letraDeCuento';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
  }

  .tarjeta {
    padding-top: 2rem;
    box-sizing: border-box;
    font-family: 'letraDeCuento';
    display: flex;
    flex-direction: column;
    width: 86%;
    border: 2px solid black;
    border-radius: 7px;
    background-color: darkkhaki;
    align-items: center;
  }

  .container {
    width: 70%;
    height: 15rem;
    overflow: hidden;
    display: flex;
    justify-content: center;    
  }

  .container img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 3px solid rgb(173, 45, 45);
    border-radius: 5px;
  }

  .letra{
    font-size: 1.75rem;
  }